.sessions-form
  h1= t('.log_in')
  = form_for user, url: sessions_path, remote: true, html: {id: :sign_in_form} do |f|
    - if flash[:alert]
      .error_messages
        = flash[:alert]
    .field
      = f.label :email
      = f.text_field :email
    .field
      = f.label :password
      = f.password_field :password
    .actions
      = f.submit t('.log_in'), class: 'btn btn-dark'
    .links
      = link_to t('.not_a_member'), signup_path
