.sessions-form
  h1= t('.sign_up')
  = form_for user, url: registrations_path, method: :post, remote: true do |f|
    - if user.errors.any?
      .error_messages
        = user.errors.full_messages.to_sentence
    .field
      = f.label :username
      = f.text_field :username
    .field
      = f.label :email
      = f.text_field :email
    .field
      = f.label :password
      = f.password_field :password
    .field
      = f.label :password_confirmation
      = f.password_field :password_confirmation
    .actions
      = f.submit t('.sign_up'), class: 'btn btn-dark'
    .links
      = link_to t('.already_member'), login_path
