.sessions-form {
  background: $white;
  margin: 0 25%;

  h1 {
    margin: 0;
    padding: 1rem;
  }

  form {
    background: $blue;
    padding: 15px;
  }

  .links {
    font-size: .7rem;
    color: $gray;
  }
}
