.users-wrapper {
  position: fixed;
  max-width: 100vw;
  top: 120px;
  bottom: 1%;
  left: 1%;
  right: 1%;
  display: flex;
  justify-content: space-around;
  align-items: self-start;
  font-size: 1vmax;

  #user_list {
    position: relative;
    min-width: 80%;
    max-height: 90%;
    height: 90%;

    .users {
      position: relative;
      height: 90%;
      max-height: 90%;
      overflow-x: hidden;
      overflow-y: auto;
      margin-right: -2%;
      padding-right: 2%;

      table {
        position: relative;
        width: 100%;
        max-height: 80%;
        font-size: 1vmax;

        th {
          position: sticky;
          top: 0;
          background: $white;
          padding: 10px 0;
        }
      }
    }
  }

  .pagination {
    span.active {
      background: $white;
      color: $blue;
    }
  }
}
