@import 'variables';
@import 'sessions';
@import 'users';

body {
  background: $lightgray;
  font-family: "Verdana", Verdana, sans-serif;
  padding: 50px 2%;
  color: $black;

  h1, h2 {
    text-align: center;
  }

  h2, h3, h4 {
    margin-top: 0;
  }

  a {
    text-decoration: none;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  button, input, select {
    font-family: "Verdana", Verdana, sans-serif;
    font-size: inherit;
    padding: .4rem;
  }

  input[type='text'], input[type='password'] {
    width: 100%;
  }

  input[type='checkbox'], input[type='radio'] {
    & + label {
      display: inline-block;
    }
  }

  button, .btn {
    border: none;
    padding: 10px;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
  }

  .btn-primary {
    background-color: $blue;
    color: $white;
    border: 1px solid $blue;

    &:hover {
      background-color: $white;
      color: $blue;
    }
  }

  .btn-dark {
    background-color: $dark;
    color: $white;
    border: 1px solid $dark;

    &:hover {
      background-color: $white;
      color: $dark;
    }
  }

  .field, .actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;

    a, input[type='submit'] {
      margin-right: 10px;
    }
  }

  .actions {
    justify-content: center;
  }

  .error_messages {
    color: $red;
    font-size: .7rem;
  }

  .field_with_errors {
    width: 100%;

    input {
      border: 1px solid $red;
    }
  }

  #notice {
    color: green;
  }

  .text-center {
    text-align: center;
  }

  .text-left {
    text-align: left;
  }

  .text-right {
    text-align: right;
  }

  .inline {
    display: inline-block;
  }

  .container {
    background: $white;
    padding: 1% 2%;
    margin-bottom: 1%;
    margin-right: 1%;
    overflow-x: hidden;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;

    tr {
      border-bottom: 1px solid $black;
    }

    td {
      padding: 10px 0;
    }
  }

  #header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: $blue;
    display: flex;
    align-items: center;
    padding: 0 2%;

    a {
      color: $white;
      padding: 0 10px;
      height: 100%;
      display: inline-flex;
      align-items: center;

      &:hover {
        text-decoration: none;
        color: $blue;
        background: $white;
      }
    }
  }
}
