h3= t('.title')

= form_for :filters, url: admin_users_path, method: :get, remote: true, html: {id: :filters_form} do |f|
  .field
    = f.label :by_username, t('.by_username')
    = f.text_field :by_username, value: params.dig(:filters, :by_username)
  .field
    = f.label :by_email, t('.by_email')
    = f.text_field :by_email, value: params.dig(:filters, :by_email)
  .field
    = f.label :by_role, t('.by_role')
    = f.collection_check_boxes :by_role, User.roles.keys, :to_s, :humanize, checked: params.dig(:filters, :by_role)

  .actions.text-center
    = f.submit t('.apply'), class: 'btn btn-primary'
    = link_to t('.reset'), admin_users_path, class: 'btn btn-dark'
