= form_for user, url: admin_user_path(user), method: :put, remote: true, html: { id: :admin_user_form } do |f|
  - if user.errors.any?
    .error_messages
      = user.errors.full_messages.to_sentence

  .field
    = f.label :username
    = f.text_field :username
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :Role
    = f.collection_radio_buttons :role, User.roles.keys, :to_s, :humanize
  .actions
    = f.submit t('.submit'), class: 'btn btn-primary'
    = link_to t('.cancel'), :back, class: 'btn btn-dark'
