.pagination.text-center
  => link_to_unless(current_page == 1, t('.prev_page'), admin_users_path(page: current_page - 1, filters: filter_params), class: 'btn btn-primary') {}
  - (1..((filtered_users.size / per_page) + (filtered_users.size % per_page > 0 ? 1 : 0))).each do |p|
    => link_to_unless current_page == p, p, admin_users_path(page: p, filters: filter_params), class: 'btn btn-primary' do
      span.btn.btn-primary.active= p
  => link_to_unless(filtered_users.size <= (per_page*current_page), t('.next_page'), admin_users_path(page: current_page + 1, filters: filter_params), class: 'btn btn-primary') {}
