.container
  .users
    table
      thead
        tr
          th= t('.username')
          th= t('.email')
          th= t('.role')
          th
          th
          th

      tbody#users
        = render users

- if filtered_users.size > users.size
  = render 'pagination'
