tr id=dom_id(user)
  td = user.username
  td = user.email
  td = user.role
  td = link_to t('.show'), admin_user_path(user)
  td = link_to t('.edit'), edit_admin_user_path(user)
  td = link_to t('.delete'), admin_user_path(user, page: current_page), data: { confirm: t('.delete_confirmation') }, method: :delete, remote: true
