h1= t('.title')
.container
  p#notice = notice
  p
    strong=> t('.username')
    = user.username
  p
    strong=> t('.email')
    = user.email
  p
    strong=> t('.role')
    = user.role

  => link_to t('.edit'), edit_admin_user_path(user)
  '|
  =< link_to t('.back'), admin_users_path
