- if user_signed_in?
  => t('.signed_in', username: current_user.username)
  = link_to t('.logout'), logout_path, method: :delete, remote: true
  - if current_user.admin?
    =< link_to t('.users'), admin_users_path
- else
  => link_to t('.signup'), signup_path
  = link_to t('.login'), login_path
